.Trash
.*history
.cheat
.cups
.dropbox
.gem
.keystore
.m2
.rnd
.rvm
.ssh
.subversion*
.vagrant
.viminfo
.git
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Public
Sites
VirtualBox*
